<div id="<%= dom_id reservation %>">
  <p>
    <strong>City:</strong>
    <%= reservation.city %>
  </p>

  <p>
    <strong>Duration of booking:</strong>
    <%= reservation.duration_of_booking %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= reservation.integer %>
  </p>

  <p>
    <strong>Date of reservation:</strong>
    <%= reservation.date_of_reservation %>
  </p>

</div>
