<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Doctor-type:</strong>
    <%= doctor.doctor-type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= doctor.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= doctor.image_url %>
  </p>

  <p>
    <strong>Book price:</strong>
    <%= doctor.book_price %>
  </p>

  <p>
    <strong>Book-date:</strong>
    <%= doctor.book-date %>
  </p>

</div>
